<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta name="description" content="<%= config.description %>" />
    <meta name="keyword" content="<%= config.keyword %>" />
    <link rel="shortcut icon" href="<%= config.root %>img/favicon.ico" />

    <title>
        <% if (page.title) { %> <%= page.title + ' - ' + config.SEOTitle %> <% }
        else{%> <%= config.SEOTitle %> <% } %>
    </title>

    <link
        rel="preload"
        href="<%= config.url + config.root + (page.path||'').replace('index.html', '') %>"
        as="style"
        onload="this.rel='canonical'"
    />

    <!-- Bootstrap Core CSS -->
    <%- css('css/bootstrap.min.css') %>

    <!-- Custom CSS -->
    <%- css('css/hux-blog.min.css') %>

    <!-- Pygments  CSS -->
    <%- css('css/insight') %>
    <%- css('css/highlight') %>
    <%- css('css/style') %>

    <style type="text/css">
        maintitle {
            font-size: 2.5em;
            font-weight: 700;
        }

        html[theme="dark"] {
            filter: invert(1) hue-rotate(180deg);
        }

        html[theme="dark"] img {
            filter: invert(1) hue-rotate(180deg);
        }

        html[theme="dark"] nav {
            filter: invert(1) hue-rotate(180deg);
        }

        html[theme="dark"] header {
            filter: invert(1) hue-rotate(180deg);
        }

        /* html[theme='light'] {
      filter: invert(1) hue-rotate(180deg);
    }

    html[theme='light'] img{
      filter: invert(1) hue-rotate(180deg);
    } */

        html {
            transition-property: filter;
            transition-duration: 300ms;
            -moz-transition-duration: 300ms; /* Firefox 4 */
            -webkit-transition-duration: 300ms; /* Safari 和 Chrome */
            -o-transition-duration: 300ms; /* Opera */
        }
    </style>
</head>
